#For Keil
obj/
lst/

#For IAR
Debug/
Release/
setting/

#For OSX
.DS_Store

#Files
*.log
*.dep
*.bak
*.uvopt
*.txt
*.old
*.bin
!SampleCode/StdDriver/FMC_VECMAP/IAR/Release/
!SampleCode/StdDriver/FMC_VECMAP/IAR/Release/Exe/
!SampleCode/StdDriver/FMC_VECMAP/IAR/Release/Exe/fmc_isp.bin
!SampleCode/StdDriver/FMC_VECMAP/IAR/Release/Exe/fmc_ld_boot.bin
!SampleCode/StdDriver/FMC_VECMAP/Keil/OBJ/
!SampleCode/StdDriver/FMC_VECMAP/Keil/OBJ/fmc_isp.bin
!SampleCode/StdDriver/FMC_VECMAP/Keil/OBJ/fmc_ld_boot.bin
!SampleCode/NuEdu/Smpl_Basic01_FMC_IAP/Keil/obj
!SampleCode/NuEdu/Smpl_Basic01_FMC_IAP/Keil/obj/fmc_ap0_main.bin
!SampleCode/NuEdu/Smpl_Basic01_FMC_IAP/Keil/obj/fmc_ap1_main.bin
!SampleCode/NuEdu/Smpl_Basic01_FMC_IAP/Keil/obj/fmc_ld_boot.bin
!SampleCode/NuEdu/Smpl_Basic01_FMC_ISP/Keil/obj/
!SampleCode/NuEdu/Smpl_Basic01_FMC_ISP/Keil/obj/Sample_LD.bin
*.obj
*.orig
*.ok
*~
*.o
*.i
*.lst
*.map
*.d
*.crf
*.axf
*.out
*.pbi
*.cout
*.browse
*.scc

#Large stuff
*.zip
*.gz
*.bz
*.gzip
*.7z
*.rar

