#For Keil
obj/
lst/

#For IAR
Debug/
Release/
settings/

# For GCC
!.cproject
!.project

.lock
.location
.markers
version.ini
.history/
.mylyn/
Packages/
.settings/
RemoteSystemsTempFiles/
Samplecode/*/*/GCC/.metadata/.plugins/*
Samplecode/*/*/packages/
Samplecode/*/GCC/.metadata/.plugins/*
Samplecode/*/packages/

!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/

!SampleCode/Nu-LB-NANO130/USBD_Audio_Speaker_And_HID_Transfer/WindowsTool/Debug/
!SampleCode/StdDriver/USBD_HID_Transfer/WindowsTool/debug/
!SampleCode/StdDriver/USBD_HID_Transfer_And_Keyboard/WindowsTool/debug/
!SampleCode/StdDriver/USBD_HID_Transfer_And_MSC/WindowsTool/debug/
!SampleCode/StdDriver/USBD_HID_Transfer_CTRL/WindowsTool/Debug/
!SampleCode/StdDriver/USBD_Printer_And_HID_Transfer/WindowsTool/Debug/
!SampleCode/StdDriver/USBD_VCOM_And_HID_Transfer/WindowsTool/Debug/

#For OSX
.DS_Store

#Files
*.log
*.dep
*.bak
*.uvopt
*.uvgui.*
*.txt
!Library/CMSIS/DAP/Firmware/Examples/LPC-Link-II/Abstract.txt
!Library/CMSIS/DAP/Firmware/Examples/XMC4200/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_class_marks_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_class_marks_example/GCC/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_convolution_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_convolution_example/GCC/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_dotproduct_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_dotproduct_example/GCC/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_fft_bin_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_fft_bin_example/GCC/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_fir_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_graphic_equalizer_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_linear_interp_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_matrix_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_signal_converge_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_sin_cos_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_variance_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/license.txt
!Library/CMSIS/Lib/license.txt
!SampleCode/Semihost/README.txt
*.old
*.bin
!SampleCode/StdDriver/FMC_VECMAP/IAR/Release/
!SampleCode/StdDriver/FMC_VECMAP/IAR/Release/Exe/
!SampleCode/StdDriver/FMC_VECMAP/IAR/Release/Exe/fmc_isp.bin
!SampleCode/StdDriver/FMC_VECMAP/IAR/Release/Exe/fmc_ld_boot.bin
!SampleCode/StdDriver/FMC_VECMAP/Keil/OBJ/
!SampleCode/StdDriver/FMC_VECMAP/Keil/OBJ/fmc_isp.bin
!SampleCode/StdDriver/FMC_VECMAP/Keil/OBJ/fmc_ld_boot.bin
!SampleCode/StdDriver/FMC_VECMAP/GCC/fmc_ld_boot.bin
!SampleCode/StdDriver/FMC_VECMAP/GCC/fmc_isp.bin
!SampleCode/NuEdu/Smpl_Basic01_FMC_IAP/Keil/obj
!SampleCode/NuEdu/Smpl_Basic01_FMC_IAP/Keil/obj/fmc_ap0_main.bin
!SampleCode/NuEdu/Smpl_Basic01_FMC_IAP/Keil/obj/fmc_ap1_main.bin
!SampleCode/NuEdu/Smpl_Basic01_FMC_IAP/Keil/obj/fmc_ld_boot.bin
!SampleCode/NuEdu/Smpl_Basic01_FMC_ISP/Keil/obj/
!SampleCode/NuEdu/Smpl_Basic01_FMC_ISP/Keil/obj/Sample_LD.bin
*.obj
*.orig
*.ok
*~
*.o
*.i
*.lst
*.map
*.d
*.crf
*.axf
*.out
*.pbi
*.cout
*.browse
*.scc

#Large stuff
*.zip
*.gz
*.bz
*.gzip
*.7z
*.rar

